<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.postimg.cc/Mp50BMz0/nike-shoes-snapdeal-offer.jpg" class="d-block w-100" alt=""
                style="height: 400px;">
        </div>
        <div class="carousel-item" data-bs-interval="">
            <img src="https://i.postimg.cc/x8sYH3FD/1617369686163.webp" class="d-block w-100" alt=""
                style="height: 400px;">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/HkNw3G7j/amazon-india-watch-sale-men-women-stylish-2016-banner.jpg"
                class="d-block w-100" alt="..." style="height: 400px;">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/t4MXTbsq/JBL-Headphone-CLP-Banner-27-07-2022-Mobile.webp" class="d-block w-100"
                alt="..." style="height: 400px;">
        </div>
    </div>
  


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>



</div>



<div class="p-2 d-flex w-100" style="background-color:rgb(247, 241, 241) ;">
    <div class="container d-flex p-1  ">
        <div class=" me-4 p-2 ">
            <div>
                <a (click)="filter('')">
                    <img style="height:100px; width:100px; border-radius: 50px;"
                        src="https://i.postimg.cc/Cx18qPW9/supermarket-grocery-products-cartoon-24640-26648.webp"
                        alt="">
                    <h6>All product</h6>
                </a>
            </div>
        </div>

        <div class="p-2">
            <div>
                <a (click)="filter(1)">
                    <img style="height:100px; width:100px; border-radius: 50px;"
                        src="https://i.postimg.cc/XYpkfz9T/5-best-running-shoes-under-1000-in-india-94821818.jpg"
                        alt="">

                    <h6>Shoes</h6>

                </a>
            </div>
        </div>
        <div class="p-2">
            <a (click)="filter(2)">
                <img style="height:100px; width:100px; border-radius: 50px;"
                    src="https://i.postimg.cc/cH4zNcpZ/download.jpg" alt="">
                <h6>Watches</h6>
            </a>
        </div>
        <div class="p-2">
            <div>
                <a (click)="filter(4)">
                    <img style="height:100px; width:100px; border-radius: 50px;"
                        src="https://i.postimg.cc/ncyccsVN/download-1.jpg" alt="">
                    <h6>Fashion</h6>
                </a>
            </div>
        </div>

        <div class="p-2">
            <div>
                <a (click)="filter(3)">
                    <img style="height:100px; width:100px; border-radius: 50px;"
                        src="https://i.postimg.cc/ryx2qfbC/download-2.jpg" alt="">
                    <h6>Earphones</h6>
                </a>
            </div>
        </div>
    </div>


</div>


<!-- Section-->
<section class="py-5" style="background-color:rgb(184, 210, 232) ;">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let i of  filterproducts|filter:searchkey:'productName' " class="col mb-5"
                style="background-color: rgb(184, 210, 232);">
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height:300px ;" class="card-img-top" src="{{i.productImage}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <p>{{i.Description}}</p>
                            <!-- Product price-->
                            Rs.{{i.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="product/view-product/{{i.id}}">View options</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>